.detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 425px;
  margin: 0 auto;
}
.detail-text {
  text-align: start;
}
.arrow {
  text-align: start;
}
.link {
  all: unset;
  cursor: pointer;
}
