.filter-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 5px;
}
.filter-box {
  padding: 10px;
  width: 200px;
}

@media (max-width: 675px) {
  .filter-container {
    display: flex;
    flex-direction: column;
  }
}
